@model IEnumerable<Lab.Demo.EF.Entities.Employee>
@{
    ViewBag.Title = "Index";
}

<h2>Empleados</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Apellido</th>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>

    <td>
        @Html.ActionLink("Editar", "Update", new { id= item.EmployeeID }, new { @class = "btn btn-warning", role = "button" })
        @Html.ActionLink("Eliminar", "Delete", new { item.EmployeeID }, new { @class = "btn btn-danger", role = "button" })
    </td>
</tr>
    }
</table>

@Html.ActionLink("Nuevo Empleado", "Create", null, new { @class = "btn btn-primary", role = "button" })